* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #1a0800;
    background-image: radial-gradient(at 0% 0%, #330000, #000000);
    min-height: 100vh;
    background-attachment: fixed;
}

.title-font {
    font-family: "Audiowide", sans-serif;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    padding: 0 1.5rem; 
    background-color: rgba(61, 10, 10, 0.5);/* Darker, themed background for content */
}




header {
    padding: 2rem 1rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid #e75820;
    box-shadow: 0 4px 16px rgba(255, 102, 0, 0.6);
    text-align: center;
}

h1 {
    font-size: 5em;
    color: #f10909;
    text-align: center;
    margin-bottom: 20px;
}

header p {
    font-size: 50px;
    
    color: #ffaa66;
    text-shadow: 1px 1px 2px rgba(0 , 0, 0, 0.8);
}

.content {
    font-size: 2em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    padding: 0 65px;
    background-color: #7c0404;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.gomb {
    background-color: #e64a0c;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.2s; 
    box-shadow: inset;
}

.content.active {
    max-height: 1000px;
    padding: 18px;
}

#imageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000000;
}

.hidden {
    display: none !important;
}
  
#imageContainer img {
    max-width: 1000%;
    max-height: 1000%;
    border: 5px solid #1a1111;
    box-shadow: 0 0 20px rgba(214, 34, 34, 0.5);
}