* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 2em;   
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #1a0800;
    color: #f7e0d3;
    min-height: 100vh;
    padding: 20px;
}

header {
    padding: 2rem 1rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid #e75820;
    box-shadow: 0 4px 16px rgba(255, 102, 0, 0.6);
    text-align: center;
}

.title-font {
    font-family: 'Creepster', cursive;
    font-size: 3em;
    color: #f10909;
    margin-bottom: 10px;
}

header p {
    font-family: 'Creepster', cursive;
    font-size: 5em;
    color: #ffaa66;
}

.gomb {
    display: block;
    width: 100%;
    text-align: left;
    padding: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.2s;
    margin-top: 5px;
    border-radius: 8px; /* Lekerekítés */
}

.gomb[data-movie-id="halloween"] {
    background-color: #8b0000;
}
.gomb[data-movie-id="halloween"]:hover {
    background-color: #6a0000;
}

.gomb[data-movie-id="hocus"] {
    background-color: #6a1b9a;
}
.gomb[data-movie-id="hocus"]:hover {
    background-color: #55157a;
}

.gomb[data-movie-id="nightmare"] {
    background-color: #3e4242;
}
.gomb[data-movie-id="nightmare"]:hover {
    background-color: #2c2f2f;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    padding: 0 15px;
    background-color: rgba(61, 10, 10, 0.5); /* Darker, themed background for content */    
    border-radius: 0 0 8px 8px; /* Lekerekítés */
    margin-bottom: 15px;
}

.content.active {
    max-height: 1500px;
    padding: 15px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1em;
}
.movie-details h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffaa66;
    margin-top: 10px;
}

.movie-details img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#imageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}


.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    padding: 0 1.5rem; 
    background-color: rgba(61, 10, 10, 0.5);/* Darker, themed background for content */
}






h1 {
    font-family: "Creepster", system-ui;
    font-size: 8em;
    color: #f10909;
    text-align: center;
    margin-bottom: 20px;
}

.hidden {
    display: none !important;
}
  
#imageContainer img {
    max-width: 1000%;
    max-height: 1000%;
    border: 5px solid #1a1111;
    border-radius: 10px;
}